<div class="col-2">
  <div class="card">
    <img
      src="https://user-images.githubusercontent.com/42710591/89651430-e3997800-d8fe-11ea-8fc4-892c6fc429ab.JPG"
      class="card-img-top"
      alt="유저 사진"
    />
    <div class="card-body text-center">
      <h5
        class="card-title pl-2 <%= user.score > 15 ? 'text-primary' : user.score > -16 ? '' : 'text-danger' %>"
        style="letter-spacing: 7px;"
      >
        <%= user.name %>
      </h5>
      <p class="card-text m-0" style="letter-spacing: 1px;">
        <%= user.school.name %><%= user.school.type === "0" ? "초" :
        user.school.type === "1" ? "중" : user.school.type === "2" ? "고" : "대"
        %><br />
        <%= user.score %>점<br />
      </p>

      <br />
      <% if(user.score > -20){ %>
      <a href="/add-post">
        <button type="button" class="btn btn-primary">게시물 작성</button>
      </a>
      <% }else{ %>
      <button type="button" class="btn btn-primary" disabled="”disabled”">
        불량 회원
      </button>
      <% } %>
    </div>
  </div>
</div>
